/*
 * Title:  Styles for DesignCrod Frontend Challenge
 * Author: Giles Butler
 */

/* Typography */
.strength-1 {
  font-weight: 100;
}

.strength-3 {
  font-weight: 300;
}

.strength-5 {
  font-weight: 500;
}

.strength-7 {
  font-weight: 700;
}

.strength-9 {
  font-weight: 900;
}

.warning {
  color: #c88685!important;
}

/* Helpers */
.inline-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.inline-list > li {
  list-style: none;
  float: left;
  margin-right: 10px;
  display: block;
}

.inline-list > li > * {
  display: block;
}

.border-box {
  box-sizing: border-box;
}

.Break {
  margin: 0;
}

.Break--horizontal {
  border-top-color: #CBCBCF;
  margin-bottom: 40px;
}

.Break--horizontal.Break--half {
  margin-bottom: 20px;
}

.Break--vertical {
  background: #cbcbcb;
  height: 20px;
  width: 1px;
  float: right;
}

.text-center {
  text-align: center!important;
}

.text-right {
  text-align: right!important;
}

.text-left {
  text-align: left!important;
}

.text-underline {
  text-decoration: underline!important;
}

/* General Styles */
.home {
  background-position: 0 -170px;
}

.title {
  margin-bottom: 40px;
}

/* Breif Intro */
.BriefIntro {
  margin: 32px 0 75px;
}

.BriefIntro-title {
  line-height: 1;
  margin-bottom: 12px;
}

.BriefIntro-subTitle {
  color: #555;
  font-size: 22px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 25px;
}

.btn--briefIntro {
  margin-bottom: 25px;
}

.BriefIntro-actionItem {
  border-right: 1px solid #cecece;
  padding-right: 10px;
}

.BriefIntro-actionItem:last-child {
  border-right: 0;
  padding-right: 0;
}

.BriefIntro-action {
  color: #333;
  font-size: 16px;
  font-weight: 300;
}



/* Breadcumbs */
.Breadcrumbs {
  margin: 0 0 13px;
}

.Breadcrumbs > li {
  margin-right: 5px;
}

.Breadcrumbs-item, .Breadcrumbs-divider {
  color: #777777;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 1px;
  text-shadow: 1px 1px 0 #ffffff;
}


/* Project Overview */
.ProjectOverview {
  border: 1px solid #c1c1c1;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #f3f3f4;
  margin-bottom: 40px;
}

.ProjectOverview .span4 {
  /* Fix Bootstrap 2.3 Nested Grid */
  width: 389px;
  margin: 0;
  box-shadow: -1px 0 0 #fff;
}

.ProjectOverview .span4:first-child {
  margin-left: 30px;
  box-shadow: none;
}

.ProjectOverview .span4:first-child .ProjectOverview-title {
  border-left: none;
}

.ProjectOverview-title {
  color: #c1c1c1;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  margin: 0 65px 0 0;
  text-align: right;
  float: left;
  padding: 20px 30px;
  border-right: 1px solid #ddd;
  box-shadow: 1px 0 0 #fff;
  display: inline-block;
  border-left: 1px solid #ddd;
}

.ProjectOverview-data {
  font-size: 30px;
  font-weight: 900;
  padding: 23px 0;
  margin: 0;
}

/* The Brief */
.Brief {
    padding: 0;
    box-shadow: 1px 1px 1px #fff;
    margin: 0 0 40px;
}

.nav-tabs {
    background: #f3f3f4;
    padding: 17px 0 0;
    position: relative;
}

.nav-tabs > li {
  margin-left: 5px;
  position: relative;
  bottom: -9px;
}

.nav-tabs > li > a {
  background-color: #eeeeee;
  border: 1px solid #ddd;
  color: #848484;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 1px;
  text-shadow: 1px 1px 0 #fff;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.7);
}

.nav-tabs > li.active {
  bottom: 0;
}

.nav-tabs > li.active > a {
  color: #555555;
  font-size: 18px;
  padding: 15px 15px 10px;
}

.nav-tabs > li:first-child {
    margin-left: 17px;
}

.ProjectUpdates-notifier {
    position: absolute;
    font-family: "museo-sans", Arial, sans-serif;
    font-size: 16px;
    right: 0;
    background: #ededed;
    height: 100%;
    top: 0;
    padding: 22px 20px;
    box-sizing: border-box;
    border-left: 1px solid #ddd;
    box-shadow: inset 1px 0 1px rgba(255, 255, 255, 0.8);
}

.ProjectUpdates-notifier > a {
  color: #888888;
  font-size: 16px;
  font-family: "museo-sans", Arial, sans-serif;
  font-weight: 100;
  text-shadow: 1px 1px 0 #fff;
}

.ProjectUpdates-notifier > a span {
  border-bottom: 1px dashed #B5B5B5;
}

.Brief-label {
  color: #333333;
  font-family: "museo-sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 14px;
  text-transform: uppercase;
  line-height: 1;
}

.Brief-title {
  font-size: 30px;
  font-weight: 500;
  line-height: 1;
  margin: 0 0 37px;
}

.Brief-2col .span4 {
    width: 355px;
}

.Brief-subTitle {
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  margin: 0 0 37px;
}

.Brief-text {
  font-size: 16px;
  line-height: 2;
  margin-bottom: 35px;
}

.table--brief {
  border: 1px solid #e6e6e6;
  margin-bottom: 40px;
}

.table--brief tr:hover {
  background: transparent;
}

.table--brief thead th {
    background: transparent;
    border-bottom-color: #e6e6e6;
    color: #555555;
    font-family: "museo-sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 100;
    border-right: 1px solid #e6e6e6;
}

.table--brief tbody > tr > td {
  background: #fff!important;
  border-right: 1px solid #e6e6e6;
}

.Brief-legend {
  color: #555555;
  font-size: 14px;
  font-style: italic;
  font-weight: 100;
  letter-spacing: 1px;
  margin-bottom: 20px;
  line-height: 1;
}


/* Sliders */
.Sliders {
    list-style: none;
    margin: 0 0 40px;
}

.Sliders-item {
    position: relative;
    margin-bottom: 20px;
}

.Slider-label {
    font-family: "museo-sans", Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 2px;
}

.Slider-label--end {
    left: 635px;
}

.Slider {
    height: 26px;
    background: #f2f2f2;
    border-radius: 10px;
    width: 520px;
    position: relative;
    box-shadow: inset 1px 1px 2px rgba(0,0,0,0.07);
    margin-left: 100px;
}

.Slider-handle {
    background: #a7a7a7;
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(225,225,225,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(225,225,225,1)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e1e1',GradientType=0 );
    height: 16px;
    width: 16px;
    position: absolute;
    z-index: 1;
    border-radius: 20px;
    border: 1px solid #dddddd;
    box-shadow: 0px 2px 1px rgba(0,0,0,0.2);
    top: 3px;
}

.Slider-track {
    height: 8px;
    position: absolute;
    width: 500px;
    background: #e4e4e4;
    border-radius: 10px;
    top: 9px;
    left: 10px;
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.1), 1px 1px 1px rgba(255,255,255,0.8);
}

.Slider-count {
  height: 8px;
  position: absolute;
  width: 0;
  background: #1f8cbe;
  border-radius: 10px;
  top: 0;
  left: 0;
}

.Slider-countGradient {
  background: -moz-linear-gradient(top,  rgba(255,255,255,0.7) 0%, rgba(31,140,190,1) 78%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.7)), color-stop(78%,rgba(31,140,190,1)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0.7) 0%,rgba(31,140,190,1) 78%);
  background: -o-linear-gradient(top,  rgba(255,255,255,0.7) 0%,rgba(31,140,190,1) 78%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,0.7) 0%,rgba(31,140,190,1) 78%);
  background: linear-gradient(to bottom,  rgba(255,255,255,0.7) 0%,rgba(31,140,190,1) 78%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#1f8cbe',GradientType=0 );
  position: absolute;
  display: block;
  height: 8px;
  width: 100%;
  opacity: 0.6;
  border-radius: 10px;
  box-shadow: inset 1px 1px 2px rgba(34,120,159,0.9), 0px 0px 2px rgba(0,0,0,0.3);
}

.Slider-count-1 .Slider-count {
  width: 50px;
}

.Slider-count-2 .Slider-count {
  width: 100px;
}

.Slider-count-3 .Slider-count {
  width: 150px;
}

.Slider-count-4 .Slider-count {
  width: 200px;
}

.Slider-count-5 .Slider-count {
  width: 250px;
}

.Slider-count-6 .Slider-count {
  width: 300px;
}

.Slider-count-7 .Slider-count {
  width: 350px;
}

.Slider-count-8 .Slider-count {
  width: 400px;
}

.Slider-count-9 .Slider-count {
  width: 450px;
}

.Slider-count-10 .Slider-count {
  width: 500px;
}

.Slider-count-1 .Slider-handle {
  left: 50px;
}

.Slider-count-2 .Slider-handle {
  left: 100px;
}

.Slider-count-3 .Slider-handle {
  left: 150px;
}

.Slider-count-4 .Slider-handle {
  left: 200px;
}

.Slider-count-5 .Slider-handle {
  left: 250px;
}

.Slider-count-6 .Slider-handle {
  left: 300px;
}

.Slider-count-7 .Slider-handle {
  left: 350px;
}

.Slider-count-8 .Slider-handle {
  left: 400px;
}

.Slider-count-9 .Slider-handle {
  left: 450px;
}

.Slider-count-10 .Slider-handle {
  left: 500px;
}


/* Project Requirements */
.ProjectRequirements {
  list-style-type: none;
  margin: 0;
}

.ProjectRequirements-item {
  font-family: "museo-sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px;
  line-height: 1;
}


/* Project Updates */
.ProjectUpdates {
  margin: 0 0 -10px -10px;
  background: #ededed;
  width: 768px;
  height: 100%;
  box-shadow: inset 1px 1px 3px rgba(0,0,0,0.05);
  border-top: 1px solid #D6D5D5;
  box-sizing: border-box;
}

.ProjectUpdates-intro {
    padding: 23px 16px;

    border-bottom: 1px solid #d0d0d0;
    box-shadow: 0 1px 0 #fff;
    margin-bottom: 25px;
}

.ProjectUpdates-title {
    margin: 0;
    font-size: 20px;
    color: #555555;
    font-weight: 700;
    line-height: 1;
    text-shadow: 1px 1px 0 #fff;
}

.ProjectUpdates-total {
    float: right;
    font-size: 16px;
    color: #555555;
    font-weight: 300;
    line-height: 1;
    text-shadow: 1px 1px 0 #fff;
}

.ProjectUpdates-count {
    font-size: 22px;
    font-weight: 900;
    color: #1f8cbe;
}

.ProjectUpdates-items {
    list-style: none;
    margin: 0 0 20px 16px;
}

.ProjectUpdates-item {
    position: relative;

}

.ProjectUpdates-updateNumber {
    background: #fff;
    border: 1px solid #dddddd;
    height: 57px;
    font-family: "museo-sans", Arial, sans-serif;
    width: 57px;
    border-radius: 50px;
    box-sizing: border-box;
    padding: 18px 0 0 20px;
    color: #1f8cbe;
    font-size: 26px;
    font-weight: 900;
    position: absolute;
    top: 4px;
}

.ProjectUpdates-updateDate {
    margin-left: 75px;
    font-family: "museo-sans", Arial, sans-serif;
    font-size: 12px;
    color: #777777;
    font-weight: 100;
    margin-bottom: 10px;
    display: block;
    line-height: 1;
}

.ProjectUpdates-updateTitle {
    margin: 0 0 15px 74px;
    line-height: 1;
    font-size: 20px;
    font-weight: 500;
}

.ProjectUpdates-updateInfo {
    margin-left: 76px;
    font-weight: 300;
    letter-spacing: 0.1em;
}


/* Modules */
.module {
    padding-left: 20px;
    padding-right: 20px;
}

.module .title {
    height: 65px;

    border-bottom: 1px solid #cbcbcb;
    margin: -10px -20px 20px;
}

.module .title h2 {
    text-align: left;

    padding: 16px 0 0 20px;
    font-size: 18px;
    font-weight: 100;
    text-shadow: none;
    letter-spacing: 0;
}

.module .span2 {
    width: 148px;
}

.module--secondary .title {
  background: #f3f3f4;
}

.module--secondary .title h2 {
  color: #1f8cbe;
}

/* Payment */
.Payment-terms {
    color: #555555;
    font-family: "museo-sans", Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
    display: block;
    line-height: 1;
}

.table--paymentTable {
  font-family: "museo-sans", Arial, sans-serif;
  margin: 0;
}

.table--paymentTable tr:hover {
  background: transparent;
}

.table--paymentTable tbody > tr > td {
  background: transparent!important;
  border: none;
  padding: 12px 0;
}

.PaymentTable-labelWinner {
    font-size: 18px!important;
    color: #555;
    font-weight: 700;
}

.PaymentTable-winnerAmount, .PaymentTable-secondaryAmount {
    font-size: 22px!important;
    color: #333;
    font-weight: 700;
}

.PaymentTable-labelSecondary {
    font-size: 16px!important;
    color: #555;
    font-weight: 700;
}

.PaymentTable-totalLabel {
    font-size: 20px!important;
    color: #555;
    font-weight: 700;
}

.PaymentTable-totalPrice {
    font-size: 26px!important;
    color: #333;
    font-weight: 700;
}

.module--payment .Break {
  margin-bottom: 15px;
}

/* JobsFeed */
.JobsFeed-info {
  color: #777777;
  font-family: "museo-sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 20px;
}

.JobsFeed-items {
    list-style: none;

    margin: 0;
}

.JobsFeed-item {
    border-bottom: 1px solid #CBCBCF;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.JobsFeed-item p {
  line-height: 1;
}

.JobsFeed-item a {
  font-size: 16px;
  font-weight: 300;
}


.JobsFeed-title {
    font-size: 16px;

    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1;
}

/* Related Jobs */
.RelatedJobs {
    list-style: none;

    background: #f3f3f4;
    margin: 0 0 10px;

    padding: 20px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #dddddd;
    box-shadow: inset 1px 1px 1px rgba(0,0,0,0.05), 1px 1px 1px #fff;
}

.RelatedJobs > li {
  font-size: 15px;
  margin-bottom: 20px;
}

.RelatedJobs > li:last-child {
  margin-bottom: 0;
}